.nav-text {
  text-align: center;
}

.profile-h2 {
  margin-top: 1.5cm;
  margin-bottom: 0cm;
}

.header-button {
  /* position: relative; */
  width: 33%;
  height: 100%;
  background-color: white;
  text-align: center;
}

.category-div {
  width: 75%;
  margin: auto;
  position: relative;
}

.category-button {
  width: 25%;
}

.event {
  position: relative;
  height: 20em;
  padding-top: 2em;
}

.event-image {
  height: 100%;
  object-fit: cover;
  max-width: 90%;
  max-height: 100%;
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.event-text {
  height: 100%;
  clip-path: content-box;
}

.event-add {
  /* height: 50%; */
  top: 50%;
  width: 15%;
  right: 4%;
  z-index: 10;
}

/* This is used to beautify the image of an event */
.image-div {
  background-size: cover;
  background-position: center;
  color: white;
  text-align: left;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: left;
  /* width: 90%; */
  height: 12cm;
  font-size: 3.8cm;
  text-shadow: 2px 2px 10px #000000;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* .content-block {
  margin-left: 1cm;
  margin-right: 1cm;
} */

.event-info-div {
  display: flex;
  justify-content: space-between;
  margin-left: 15%;
  margin-right: 15%;
}

.delimiter {
  border-top: 2px solid #d3d3d3;
  width: 120%;
  margin: 20px 0;
}

.review-block,
.date-block,
.location-block {
  display: flex;
}

.review-block {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 10%;
}

.rating {
  margin-bottom: 0.3cm;
}

.ratings-wrapper {
  border: thin solid #948d8d;
  display: inline-block;
  margin-bottom: 10px;
  padding: 0 10px;
}

.ratings {
  display: flex;
  flex-direction: row-reverse;
}

.ratings span {
  cursor: pointer;
  transition: color 0.1s, transform 0.1s;
  font-size: 20px;
  color: rgb(170, 174, 174);
}

.ratings span:hover {
  color: black;
}

.ratings span:hover ~ span {
  color: black;
}

.ratings span[data-clicked] {
  color: black;
}

.ratings span[data-clicked] ~ span {
  color: black;
}

/* card code: https://www.w3schools.com/howto/howto_css_cards.asp */
.card {
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
  background: linear-gradient(145deg, #292929, #3e3e3e);
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    145deg,
    rgba(255, 255, 255, 0.1),
    rgba(0, 0, 0, 0)
  );
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.card:hover::after {
  opacity: 1;
}

.container {
  padding: 20px;
  flex: 2;
  color: #fff;
}

.card-image,
.container {
  flex: 1;
}

.card-image {
  flex: 1;
}

.card-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

body {
  font-family: "Noto Sans", sans-serif;
  color: #fff;
  background-color: rgba(34, 34, 34, 1);
}

.review-button,
.review-button:hover {
  text-align: right;
}

.review_staff,
.review_staff:hover {
  margin-bottom: 1.7mm;
}

#review-cancel {
  margin-bottom: 2cm;
}

.profile-event-section {
  margin-left: 28%;
  margin-right: 28%;
}

.profile-event-buttons,
.profile-event-block {
  display: flex;
  width: max-content;
}

.profile-event-button {
  margin-right: 2mm;
}

.event-image {
  width: 170px;
  object-fit: cover;
  margin-left: 4mm;
  margin-right: 4mm;
}

#profile-month {
  margin-top: 0;
  margin-bottom: 0;
  font-size: x-large;
}

#profile-date {
  margin-top: 3mm;
  font-size: x-large;
}

#profile-event-name {
  margin-top: 0;
  color: #fff;
}

#profile-event-name:hover {
  margin-top: 0;
  color: #3faefd;
}

#profile-welcome {
  font-size: 1.7cm;
}

#specific-page-clue {
  border: 4px solid green;
  display: inline-block;
  padding: 5px;
  color: green;
}

.nav_container {
  background-image: linear-gradient(
      rgba(18, 18, 18, 0.5),
      rgba(18, 18, 18, 0.5)
    ),
    url("./nav_image.png");
  background-size: cover;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.custom-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.brand-title {
  font-family: "Protest Riot", sans-serif;
  font-size: 24px;
  color: #fff;
  flex-grow: 1;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-buttons {
  display: flex;
  justify-content: space-around;
  padding-right: 20px;
}

.pure-button.header-button {
  background: linear-gradient(
    145deg,
    rgba(34, 34, 34, 0.5),
    rgba(51, 51, 51, 0.5)
  );
  color: #fff;
  border-radius: 4px;
  margin: 0 20px;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
  text-transform: uppercase;
}

.pure-button.header-button:hover,
.pure-button.header-button:focus {
  background: #dcb8f8;
  color: #222;
  box-shadow: 0 0 10px #7d44a9;
  transform: translateY(-2px);
}

.user-link {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.user-link:hover,
.user-link:focus {
  color: #fff;
  text-decoration: underline;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-input {
  border-radius: 20px;
  padding: 5px;
  margin-right: 10px;
  background-color: rgba(51, 51, 51, 0.5);
  color: #fff;
  border: 1px solid #555;
}

.search-button {
  color: #fff;
  border-radius: 20px;
  background: rgba(18, 18, 18, 0.5);
  border: none;
}

.search-button:hover {
  background: #dcb8f8;
  color: #222;
  box-shadow: 0 0 10px #7d44a9;
  transform: translateY(-2px);
}

.search-row {
  padding: 20px;
  padding-top: 0;
  background-color: transparent;
}

.search-form {
  display: flex;
  justify-content: center;
}

.search-input {
  flex-grow: 1;
  margin-right: 10px;
}

/* Create event page */

h1 {
  text-align: center;
  color: #fff;
}

#event-filter {
  max-width: 100% !important;
}

#event-filter input[type="text"] {
  width: 75% !important;
}

#event-filter input[type="datetime-local"] {
  width: auto !important;
}

.pure-form {
  max-width: 600px;
  margin: 20px auto;
  background: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.pure-form label {
  color: #fff;
  font-weight: bold;
}

.pure-form input[type="text"],
.pure-form input[type="datetime-local"],
.pure-form input[type="url"],
.pure-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  outline: none;
}

.pure-form textarea {
  resize: none;
}

.pure-button.profile-event-button,
.pure-button.review_staff,
.pure-button.specific-page-button,
.pure-button.event-add.l-box.inner-button,
.pure-form input[type="button"].pure-button,
.pure-form button,
.pure-form a.pure-button,
.review-button-1 {
  background: linear-gradient(45deg, #36bbfe, #a338fe);
  border: none;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  transition: background 0.3s ease;
  text-decoration: none;
  display: inline-block;
  margin: 5px;
}

.pure-button.profile-event-button:hover,
.pure-button.review_staff:hover,
.pure-button.specific-page-button:hover,
.pure-button.event-add.l-box.inner-button:hover,
.pure-form input[type="button"].pure-button:hover,
.pure-form button:hover,
.pure-form a.pure-button:hover,
.review-button-1:hover {
  background: linear-gradient(45deg, #eeef47, #18d950);
  color: #292929;
}

.pure-form input[type="text"]:focus,
.pure-form input[type="datetime-local"]:focus,
.pure-form input[type="url"]:focus,
.pure-form textarea:focus {
  box-shadow: 0 0 10px #fff;
}

.outer-button {
  position: absolute;
  width: 100%;
}

.inner-button {
  position: absolute;
  white-space: normal !important;
}

.l-box {
  margin-right: 2em;
}
