[class|="pure"] > p{
    text-align: center;
}

.header-button {
    position: relative;
    width: 33%;
    height: 100%;
    background-color: white;
}

.category-div {
    width: 75%;
    margin: auto;
    position: relative;
}

.category-button {
    width: 25%;
}

.event {
    height: 20em;
    padding: 2em;
}

.event-image {
    height: 100%;
}

.event-text {
    height: 100%;
}

.event-add {
    height: 100%;
}

.pure-g > div {
    box-sizing: border-box;
}

.l-box {
    padding: 1em;
}