<!DOCTYPE html>
<title>{% block title %}{% endblock %} - EventFinder</title>
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
<script src="/static/index.js"></script>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
  integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls"
  crossorigin="anonymous"
/>

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Protest+Riot&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap"
  rel="stylesheet"
/>

{% block scripts %}{% endblock %}

<section class="">
  {% include "navbar.html" %}

  <div class="" style="padding: 0 20px">{% block content %}{% endblock %}</div>
</section>
