{% extends 'base.html' %} {% block title %}Profile{% endblock %} {% block
content %} {% if session['user'] %}
<div class="profile-info">
  <h1
    id="profile-welcome"
    style="
      font-family: 'Bungee Shade', sans-serif;
      background: linear-gradient(45deg, #36bbfe, #a338fe);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    "
  >
    Hi there, {{session['user']['name']}}
  </h1>
</div>
<div class="profile-event-section">
  <div class="event-section1">
    <h2 class="profile-h2">Favorited Events</h2>
    {% for event in events %}
    <div class="event">
      <a
        style="color: inherit; text-decoration: none"
        class="outer-button"
        href="{{ url_for('event', event_id=event.event_id)}}"
      >
        <div class="event card container pure-g">
          {% if event.event_image_url %}
          <img
            class="event-image l-box pure-u-1-4"
            style="height: 196px"
            src="{{ event.event_image_url }}"
            alt="Event Image"
          />
          {% else %}
          <img
            class="event-image l-box pure-u-1-4"
            style="height: 196px"
            src="/static/event-default-img-med.png"
            alt="Placeholder Image"
          />
          {% endif %}
          <div class="event-text l-box pure-u-1-2">
            <h2 style="font-family: 'Rowdies', sans-serif; margin-bottom: 5px">
              {{ event.event_name }}
            </h2>
            <p
              style="
                background-color: #4caf50;
                border-radius: 10px;
                display: inline-block;
                padding: 5px 10px;
                margin-top: 5px;
              "
            >
              {{ event.event_type }}
            </p>
            <p style="margin-top: 5px; font-weight: bold">
              <span>🕑&nbsp;&nbsp;</span>
              {{ event.event_date }} - {{ event.event_end }}
            </p>
            <p>
              <span>📍&nbsp;&nbsp;</span>
              {{ event.event_location }}
            </p>
            <form
              action="{{ url_for('unfavorite_event', event_id=event.event_id) }}"
              method="post"
            >
              <button
                class="pure-button specific-page-button profile-event-button"
              >
                Unfavorite
              </button>
            </form>
          </div>
        </div>
      </a>
    </div>
    <div style="height: 40px"></div>
    {% else %}
    <p>No favorited events found</p>
    {% endfor %}
  </div>
  <div class="">
    <h2 class="profile-h2">Created Events</h2>
    {% for event in events2 %}
    <div class="event">
      <a
        style="color: inherit; text-decoration: none"
        class="outer-button"
        href="{{ url_for('event', event_id=event.event_id)}}"
      >
        <div class="event card container pure-g">
          {% if event.event_image_url %}
          <img
            class="event-image l-box pure-u-1-3"
            style="height: 196px"
            src="{{ event.event_image_url }}"
            alt="Event Image"
          />
          {% else %}
          <img
            class="event-image l-box pure-u-1-3"
            style="height: 196px"
            src="/static/event-default-img-med.png"
            alt="Placeholder Image"
          />
          {% endif %}
          <div class="event-text l-box pure-u-1-2">
            <h2 style="font-family: 'Rowdies', sans-serif; margin-bottom: 5px">
              {{ event.event_name }}
            </h2>
            <p
              style="
                background-color: #4caf50;
                border-radius: 10px;
                display: inline-block;
                padding: 5px 10px;
                margin-top: 5px;
              "
            >
              {{ event.event_type }}
            </p>
            <p style="margin-top: 5px; font-weight: bold">
              <span>🕑&nbsp;&nbsp;</span>
              {{ event.event_date }} - {{ event.event_end }}
            </p>
            <p>
              <span>📍&nbsp;&nbsp;</span>
              {{ event.event_location }}
            </p>
          </div>
        </div>
      </a>
    </div>
    <div style="height: 40px"></div>
    {% else %}
    <p>Created Events</p>
    {% endfor %}
  </div>
</div>

{% else %}
<h1>You need to create an account to add events</h1>
{% endif %} {% endblock %}
