{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<h1>Profile</h1>
{% if session['user'] %}

<p>Your events will appear here</p>

{% for event in events %}
    <a href="{{ url_for('event', event_id=event.event_id)}}" 
        style="color: inherit; text-decoration: none;"> <div class="card container" method="get" onclick="{{ url_for('event', event_id=event.event_id)}}">
            <h2>{{ event.event_name }}</h2>
            <p>{{ event.event_type }}</p>
            <p>{{ event.event_location }}</p>
            <p>{{ event.event_date }}</p>
            <p>{{ event.event_description }}</p>
            {% if event.event_image_url %}
                <img src="{{ event.event_image_url }}" alt="Event Image" />
            {% endif %}
        </div>
    </a>
{% else %}
    <p>No events found</p>
{% endfor %}

{% else %}
<p>You need to create an account to add events</p>
{% endif %}
{% endblock %}