{% extends 'base.html' %} {% block title %}{{ event.event_name }}{% endblock %}
{% block scripts %}
<script src="/static/specific-page.js"></script>
<script src="/static/index.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    $("#addEvent").click(function () {
      $.ajax({
        type: "POST",
        url: "/addEvent",
        data: { event_id: "{{event.event_id}}" },
        success: function (response) {
          alert("Add to your schedule successfully");
          window.location.href = "/event/{{event.event_id}}";
        },
        error: function () {
          alert("Error adding data to database");
        },
      });
    });
  });
</script>
{% endblock %} {% block content %}
<div class="content-block">
  <div class="nav-div"><p>Find events/</p></div>
  <div class="image-div">{{ event.event_name }}</div>
  <div class="event-info-div">
    <div class="location-Date-block pure-u-1-2">
      <div class="location-block">
        <div class="location-detail">
          <h2 style="font-family: 'Rowdies', sans-serif">Location</h2>
          <p id="location">{{ event.event_location }}</p>
          <a
            class="pure-button specific-page-button"
            href="https://maps.google.com?q={{ event.event_location }}"
            target="_blank"
            >Views on Google Maps</a
          >
        </div>
      </div>
      <div class="date-block pure-u-1-2">
        <div class="date-detail">
          <h2 style="font-family: 'Rowdies', sans-serif">Date and Time</h2>
          <p id="date">Start: {{ event.event_date }}</p>
          <p id="date1">End: {{ event.event_end }}</p>
          <a class="pure-button specific-page-button" id="google-c" onclick="addGoogleCalendar({{event.event_id}})">
            Add to Google Calender
          </a>
        </div>
      </div>
    </div>
    <div class="about-block pure-u-1-2">
      <h2 style="font-family: 'Rowdies', sans-serif">About</h2>
      <p id="description">{{ event.event_description }}</p>
      {% if add_or_not == False %} {% if by_you %}
      <p id="specific-page-clue">This event is created by you.</p>
      <br />
      <a class="pure-button" href="/update_event/{{event.event_id}}">Edit</a>
      {% else %}
      <button class="pure-button specific-page-button" id="addEvent">
        Add to My Schedule
      </button>
      {% endif %} {% else %}
      <p class="pure-button specific-page-button">You had added it</p>
      {% endif %}
    </div>
  </div>
</div>
<div class="delimiter"></div>
<div class="review-block">
  <div class="review-block-1 pure-u-1-2">
    <h2>Reviews</h2>
    <div class="review-block-2">
      <form action="/event/{{event.event_id}}" method="post">
        <textarea
          rows="5"
          cols="56"
          class="review_staff"
          style="display: none"
          name="review"
        ></textarea>
        <div>
          <button
            type="submit"
            style="display: none"
            class="review_staff pure-button"
          >
            Submit
          </button>
        </div>
      </form>
      <button
            id="review-cancel"
            class="review_staff pure-button"
            style="display: none"
            onclick="HideReview()"
          >
            Cancel
          </button>
    </div>
    {% for review in reviews|reverse %}
    <div class="review-block-3">
      <div class="author"><p>By {{review.user_name}}</p></div>
      <!-- <div class="ratings-wrapper">
                        <div data-productid="77" class="ratings">
                            <span data-rating="5">&#9733;</span>
                            <span data-rating="4">&#9733;</span>
                            <span data-rating="3">&#9733;</span>
                            <span data-rating="2">&#9733;</span>
                            <span data-rating="1">&#9733;</span>
                        </div>
                    </div> -->
      <div class="review-description">
        <p>{{review.review_detail}}</p>
      </div>
      <div class="delimiter"></div>
    </div>
    {% else %}
    <p>Make your first comment!</p>
    {% endfor %}
  </div>
  <div class="review-button pure-u-1-2">
    {% if user == False %}
    <button
      class="pure-button review_staff"
      onclick="window.location.href='/login';"
    >
      Sign in to Write a Review
    </button>
    {% else %}
    <button class="pure-button specific-page-button" onclick="TriggerReview()">
      Write a Review
    </button>
    {% endif %}
  </div>
</div>
{% endblock %}
