{% extends 'base.html' %}

{% block title %}Update{% endblock %}

{% block content %}

<h1>Update Event</h1>

<form class="pure-form pure-form-stacked" method="post" action="{{event.event_id}}" enctype="multipart/form-data">
   <fieldset>
       <label for="stacked-event-type">Event Type</label>
       <input type="text" id="stacked-event-type" name="event_type" placeholder="Event Type" value="{{event.event_type}}" required />
       </br>

       <label for="stacked-event-name">Event Name</label>
       <input type="text" id="stacked-event-name" name="event_name" placeholder="Event Name" value="{{event.event_name}}" required />
       </br>

       <label for="stacked-event-location">Location</label>
       <input type="text" id="stacked-event-location" name="event_location" placeholder="Location" value="{{event.event_location}}" required />
       </br>

       <label for="stacked-event-time">Date and Start Time</label>
       <input type="datetime-local" id="stacked-event-time" name="event_date" required />
       </br>

        <label for="stacked-event-end">Date and End Time</label>
        <input type="datetime-local" id="stacked-event-end" name="event_end" required />
        </br>

       <label for="stacked-event-description">Description</label>
       <textarea id="stacked-event-description" name="event_description" placeholder="Description" rows="9" cols="50" required>{{event.event_description}}</textarea>
       </br>

       <label for="stacked-event-image">Image Url</label>
       <input type="file" id="stacked-event-image" name="event_image_url" value="{{event.event_image_url}}" placeholder="Image Url">

       </br>

       <button type="submit" class="pure-button">Update</button>
       <a href="{{ url_for('profile') }}" class="pure-button">Cancel</a>
   </fieldset>
</form>
{% endblock %}

{% block scripts %}
<script>
    window.onload = () => {
        var startDate = new Date("{{event.event_date}}").toISOString().slice(0,16)
        start = document.getElementById("stacked-event-time")
        start.setAttribute("value", startDate)

        var endDate = new Date("{{event.event_end}}").toISOString().slice(0,16)
        end = document.getElementById("stacked-event-end")
        end.setAttribute("value", endDate)
    }
</script>
{% endblock %}